html {
	margin: 0;
	padding: 0;
	font-family: sans-serif;/* Google fonts*/
	color: white;

}
body {
	background: url(background.jpg)
	no-repeat  center center fixed;
	background-size: cover;
	 
}
#main{/* selector de ID*/
	width: 90%;
	height:100%;
	margin:0 auto;
	padding: 12px;
	/*border:1px solid white;*/
	background: rgba(119,199,217,0.2);/*red green blue aplha*/

}

h1 {
	color: #A0EEFF; /*hex color*/
	text-transform: uppercase;
	font-size: 32px;
}
p {
	color:#F3E6E3;
	font-size: 16px;
}
img {
	width: 100%;
	max-width: 100%;

}

.tagline{


}
DRY - Don't repeat yourself
KISS - 
.article1{
	width: 25%;
	display: line-block;
}

.article2{
	width: 25%;
	display: line-block;
}

.article3{
	width: 25%;
	display: line-block;
}

section{

}